* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*******************************************************************************/
.container {
    /*border: 2px solid rgb(70, 153, 102);*/
    width: 920px;
    margin: 0 auto;
    padding: 20px 0px;
}

.product {
    /*border: 2px solid rgb(53, 53, 53);*/
    min-height: 250px;
}

.card {
    /*border: 2px solid red;*/
    width: 33%;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Image */
.card img {
    width: 100%;
}

.card .over{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .over {
    display: block;
}

/* Heath */
.card-heart {
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.card-heart:focus{
    color: #ff6900;
}

/* Text-font */
.text-font {
    font-family: 'Besley', serif;
    font-size: 12px;
    font-weight: 500;
}

/* Patch */
.card-patch {
    display: inline-block;
    position: absolute;
    top: 398px;
    left: 0px; 
}

.card-title {
    display: inline-block;
    background-color: #eb0037;
    color: white;
    padding: 5px 5px;
}

.card-title.green {
    background-color: #00875a;
}

/* Brand */

/* Name product */
.card-name-product {
    font-size: 14px;
    font-weight: 700;
}

/* Price */
.card-price {
    display: inline-block;
    text-decoration: line-through;
}

.card-price.sale {
    color: #ff0000;
    font-weight: 700;
    text-decoration: none;
}
